{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />


<meta http-equiv="content-language" content="en" />



<head>
    <title>
        联赛集合
    </title>
</head>
<style type="text/css">
body {
    width:900px;
    text-align:center;
    margin:0 auto;
}
a {
    float: left;
    width: 150;
    height: 40px;
    border: solid 1px #ababab;
    text-align: center;
    z-index: 1;
    position: relative;
}
a:hover {
    border-color: #777777;
    z-index: 2;
}
</style>

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src='{% static "tools/helper.js" %}'></script>
<script type="text/javascript">
    var cared = [{
        name: '巴甲',
        url: 'Regions/31/Tournaments/95/Brazil-Brasileiro'
    }, {
        name: '英超',
        url: 'Regions/252/Tournaments/2/England-Premier-League'
    }, {
        name: '英格兰足总杯',
        url: 'Regions/252/Tournaments/26/England-FA-Cup'
    }, {
        name: '英格兰联赛杯',
        url: 'Regions/252/Tournaments/29/England-League-Cup'
    }, {
        name: '英格兰社区盾杯',
        url: 'Regions/252/Tournaments/96/England-Community-Shield'
    }, {
        name: '英冠',
        url: 'Regions/252/Tournaments/7/England-Championship'
    }, {
        name: '欧洲超级杯',
        url: 'Regions/250/Tournaments/62/Europe-UEFA-Super-Cup'
    }, {
        name: '欧冠',
        url: 'Regions/250/Tournaments/12/Europe-UEFA-Champions-League'
    }, {
        name: '欧罗巴',
        url: 'Regions/250/Tournaments/30/Europe-UEFA-Europa-League'
    }, {
        name: '法甲',
        url: 'Regions/74/Tournaments/38/France-Coupe-de-la-Ligue'
    }, {
        name: '法乙',
        url: 'Regions/74/Tournaments/22/France-Ligue-1'
    }, {
        name: '德甲',
        url: 'Regions/81/Tournaments/3/Germany-Bundesliga'
    }, {
        name: '德乙',
        url: 'Regions/81/Tournaments/6/Germany-Bundesliga-II'
    }, {
        name: '意甲',
        url: 'Regions/108/Tournaments/5/Italy-Serie-A'
    }, {
        name: '意大利杯',
        url: 'Regions/108/Tournaments/60/Italy-Coppa-Italia'
    }, {
        name: '意乙',
        url: 'Regions/108/Tournaments/19/Italy-Serie-B'
    }, {
        name: '荷甲',
        url: 'Regions/155/Tournaments/13/Netherlands-Eredivisie'
    }, {
        name: '西甲',
        url: 'Regions/206/Tournaments/4/Spain-La-Liga'
    }, {
        name: '西乙',
        url: 'Regions/206/Tournaments/318/Spain-Segunda-B'
    }, {
        name: '美职联',
        url: 'Regions/233/Tournaments/85/USA-Major-League-Soccer'
    },];
</script>

<script type="text/javascript">
    $(document).ready(function(){
        var html = [];
        for (var i = 0; i < cared.length; i++) {
            m = cared[i];
            html.push("<a target='_blank' href='/stat/w/lm/" + escape(m.url) + "/" + m.name + "'>" + m.name + "</a>");
        }
        $('#whoscored').html(html.join(''));
    });
</script>

<body>
    <li>以下是simplesoccerstat.com支持的联赛</li>
    <div id='simple_soccer_stat'>
        {% for item in simple_soccer_stat %}
            <a target='_blank' href='/stat/l/{{ item.1 }}&n={{ item.0|urlencode }}/'>{{ item.0 }}</a>
        {% endfor %}
    </div>
    <div style='clear:both;'></div>
    <li>以下是whoscored.com支持的联赛</li>
    <div id='whoscored'></div>
</body>

</html>
