{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<head>
    <title>

    </title>
</head>

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src='{% static "tools/helper.js" %}'></script>
<script type="text/javascript">
function ShowBf() {
    $(document).ready(function () {
        var matches = [];
        var tr = '';
        for (var i = 0; i < A.length; i++) {
            var m = A[i];
            b = [];
            // 联赛
            b.push(B[m[1]][1]);
            // 开赛时间
            b.push(m[10].replace('<br>',' '));
            // 不在关注范围内或者已经完场就跳过该比赛
            var index = careMatches.indexOf(b[0]);
            if(index < 0) {
                continue;
            }
            // 主队 [排名]
            b.push(String.format('{0} <sup>[{1}]</sup>',m[4],m[21]));
            // 客队 [排名]
            b.push(String.format('{0} <sup>[{1}]</sup>',m[7],m[22]));
            // 比分
            b.push(String.format('{0}:{1}',m[13],m[14]));
            matches.push(b);
            link = String.format("<a href='/odds/nowscore/{0}/?home={1}&guest={2}' target='_blank'>查看</a>", m[0],m[4],m[7]);
            linkEuro = String.format("<a href='/odds/nowscore/{0}/euro/?home={1}&guest={2}' target='_blank'>欧赔</a>", m[0],m[4],m[7]);
            at = String.format("<td align='center' bgcolor='{0}'><font color='white'>{1}</font></td><td>{2}</td><td>{3}</td><td>{4}</td><td align='center'>{5}</td><td align='center'>{6}</td><td align='center'>{7}</td>",careColors[index][1], b[0], b[1], b[2], b[3],b[4], link,linkEuro);
            tr = String.format("{0}<tr bgcolor='{1}'>{2}</tr>", tr,careColors[index][0], at);
        }
        var table = String.format("{0}", tr);
        $('#tb_body').html(table);
    });
}
</script>
<script type="text/javascript" src="http://live1.nowscore.com/data/score.aspx?date={{ specified_date }}" charset='utf-8'></script>

<body>
    <table border='1'>
        <tr>
            <th align='center'>联赛</th>
            <th align='center'>时间</th>
            <th align='center'>主队</th>
            <th align='center'>客队</th>
            <th align='center'>比分</th>
            <th align='center'>指数</th>
            <th align='center'>欧赔</th>
        </tr>
        <tbody id='tb_body'></tbody>
    </table>
</body>

</html>
