{% load ResultDescription %}
{% load staticfiles %}
<html>
<head><title>推荐汇总</title></head>

<style type="text/css">
.cs0
{
}
.cs1
{
    color:black;
}
.cs2
{
    color:#232323;
}
.cs3
{
    color:#ababab;
}
.cs4
{
    color:#ab1212;
}
.cs5
{
    color:#ff0000;
}
</style>
<script type="text/javascript" src='{% static "tools/jquery.min.js" %}'></script>
<script>
function del(rid) {
    if (!confirm('你确定要删除这条数据吗?')) {
        return;
    }
    var url = '/recs/d/' + rid;
    $.ajax({
        url: url,
        context: document.body
    }).done(function (data) {
        if (data == 'OK') {
            location.reload();
        } else {
            alert('数据删除失败,检查服务器端日志');
        }
    });
}
</script>

<body>

<table cellspacing="0" cellpadding="0" border='1px'>
    <tr>
        <th>联赛</th>
        <th>开赛时间</th>
        <th>主队</th>
        <th>盘口</th>
        <th>客队</th>
        <th>推荐</th>
        <th>水位</th>
        <th>比分</th>
        <th>结果</th>
        <th>推荐时间</th>
        <th>推荐人</th>
    </tr>
    <tbody id='tbody'>
    {% for r in Recommends %}
    <tr class='cs{{ r.PreferResult }}'>
        <td>{{ r.League }}</td>
        <td>{{ r.Time1|date:'y-m-d H:i' }}</td>
        <td>{{ r.Host }}</td>
        <td>{{ r.OddStake }}</td>
        <td>{{ r.Guest }}</td>
        <td>{{ r.Prefer }}</td>
        <td>{{ r.Odds }}</td>
        <td><span onclick="del({{ r.id }})">{{ r.Result }}</span></td>
        <td>{{ r.PreferResult|ResultDescription }}</td>
        <td>{{ r.Time2|date:'y-m-d H:i' }}</td>
        <td align='center'><a target="_blank" href='/recs/p/{{ r.Person }}'>{{ r.Person }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
